.logo {

}

.logo_tall > * {

}

.nav-fixed__button-open-lines {
    display: inline-block;
    float: right;
    position: relative;
    margin-left: 12px;
    text-align: right;
}

.nav-fixed__button-open-line {
    position: absolute;
    right: 0;
    height: 3px;
    width: 24px;
    margin-bottom: 3px;
    background: #000;
    display: block;
    -webkit-transition: all 275ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
    transition: all 275ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.nav-fixed__button-open-line:nth-child(1) {
    width: 16px;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.nav-fixed__button-open-line:nth-child(2) {
    top: 6px;
    width: 24px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.nav-fixed__button-open-line:nth-child(3) {
    top: 12px;
    width: 10px;
    margin-bottom: 0;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}